In [15]:
import numpy as np
import pandas as pd
import scipy
import scipy.special
import scipy.stats as stats

In [2]:
ar=np.array([[6.0, 3.0],[2.0, 12.0]])    
df=pd.DataFrame(ar, columns=["Responded", "No Response"])
df.index=["Males", "Females"] 
df.head()

         Responded  No Response
Males          6.0          3.0
Females        2.0         12.0

In [3]:
df2=df.copy()
df2.loc['Column_Total']= df2.sum(numeric_only=True, axis=0)
df2.loc[:,'Row_Total'] = df2.sum(numeric_only=True, axis=1)
df2.head()

              Responded  No Response  Row_Total
Males               6.0          3.0        9.0
Females             2.0         12.0       14.0
Column_Total        8.0         15.0       23.0

In [13]:
total=df2.at["Column_Total", "Row_Total"] 
expected_values=df2.copy()
for row in expected_values.index[0:-1]:
    for col in expected_values.columns[0:-1]:
        current_expected= (((df2.at[row, "Row_Total"])*(df2.at["Column_Total", col]))/total).round(2) 
        expected_values.at[row,col]=float(current_expected)
expected_values

              Responded  No Response  Row_Total
Males              3.13         5.87        9.0
Females            4.87         9.13       14.0
Column_Total       8.00        15.00       23.0

In [22]:
oddsratio, pvalue = stats.fisher_exact(df)  
oddsratio,pvalue

(12.0, 0.02276092463197055)

In [18]:
oddsratio

42.0